<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{{ page_intro['keywords'] }}">
    <meta name="description" content="{{ page_intro['description'] }}">
    <title>{{ page_intro['title'] }}</title>
</head>
<body>
    {% block header %}
    <div id="header">
    </div>
    {% end %}

    {% block body %}
    <div id="body">
    </div>
    {% end %}

    {% block footer %}
    <div id="footer">
    </div>
    {% end %}
</body>
</html>